.modal_call{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    top: 100px;
}

.modal_button--call{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    animation-name: displayModal;
    animation-duration: 0.5s;
}

.modal_call--header{
    height: 80px;
    width: 100%;
    background-color: var(--logoColor);
    border-radius: 30px 30px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.modal_call--body{
    height: 350px;
    width: 100%;
}

.modal_call--footer{
    height: 70px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.call_type{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.call_item--link{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    transition: all 0.6s ease;
}
.call_item--link:hover {
    color: var(--logoColor);
    border-bottom: 1px solid rgb(196, 196, 196);
  
}