
.button_style 
{
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--logoColor) solid 1.5px;
    background-color: white;
    cursor: pointer;
}

.button_style:hover 
{
    background-color: var(--logoColor);
    color: white;
}


.icon_close 
{
    cursor: pointer;
    transition: 0.5s;
    /* transform: skew(45deg, -45deg); */
    padding: 5px;
    border-radius: 50%;
}

.icon_close:hover 
{
    background-color: #b30724d0;
}


.change_click-item 
{
    background-color: white;
    border-radius: 20px;
}
/* ====== Close and Open Model */
.field_close 
{
    display: none;
}

.field_open 
{
    display: flex;
}
/*==================================*/
.dataProducts_contain 
{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(60,64,67, 0.1), 0px 2px 6px 2px rgba(60,64, 67, 0.2);
    position: relative;
    transition-delay: 0.3s;
    overflow: hidden;
}

.dataProducts-SpaceBetween 
{
    display: flex;
    justify-content: space-between;
}

.dataProducts_style 
{
    width: 100%;
    /* border-top: 1px solid var(--clickChange);
    border-bottom: 1px solid var(--clickChange); */
   
    padding: 5px;
    transition: all 0.5s ease;
    transition-delay: 0.3s;
}

.block_btn{
    position: relative;
    display: flex;
    position: absolute;
    top: 0;
    right: -800px;
    transition-delay: 0.3s;
}
.dataProducts_btn{
    width: 30px;
    height: 30px;
    border: 3px solid var(--clickChange);
    outline: none;
    background-color: white;
    border-radius: 5px;
    margin: 5px 10px 0 5px;
    cursor: pointer;
    color: var(--clickChange);
    display: block;
}
.dataProducts_button--buy {
    margin-right: 6px;
}
.dataProducts_button--buy a i 
{
    color: var(--clickChange);
    font-size: 30px;
    position: relative;
    right: 9px;
    top: -3px;
}

.dataProducts_button--pop i 
{
    font-size: 30px;
    position: relative;
    right: 9px;
    top: -3px;
}
.dataProducts_contain:hover .block_btn{

    animation-name: btnMove;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    right: 0;
}

.dataProducts_button--buy:hover 
{
    border: 3px solid rgb(60, 255, 0);
    color: rgb(60, 255, 0);
}
.dataProducts_button--buy a i:hover 
{
    color: rgb(60, 255, 0);
}
.dataProducts_button--pop:hover 
{
    border: 3px solid rgb(255, 181, 33);
    color: rgb(255, 170, 0);
}

.dataProducts_contain:hover 
{
    background-color: var(--hoverColor);
    justify-content: space-between;
}

/* .dataProducts_contain:hover .dataProducts_button--pop 
{
    display: block;
    transition-delay: 0.5s;
}

.dataProducts_contain:hover .dataProducts_button--buy 
{
    display: block;
    transition-delay: 0.5s;
} */

.dataProducts_contain:hover .dataProducts_style 
{
    width: 550px;
    color: white;
    border-color: var(--logoColor);
    cursor: pointer;
    transition-delay: 0.3s;
}


@keyframes btnMove{
    0%{
        right: -900px;
    }
    100%{
        right: 0;
    }
}
@keyframes displayModal {
    0%{
        top: -1000px;
    }
    100%{
        top: 0px;
    }
}