#container_display 
{       
    background-color: white;
    position: relative;
    top: 25px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.title_produce 
{
    color: var(--logoColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 20px;

}

.nameInfor{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    font-weight: 100;
    font-size: 70px;
}
.id_product{
    position: relative;
    background-color: var(--logoColor);
    color: white;
    padding: 6px 8px;
    border-radius: 3px;
    border-top-left-radius: 20px;
    border: 2px solid var(--logoColor);
    box-shadow: 0px 0px 10px 5px rgba(51, 43, 43, 0.2);
    z-index: 2;
    font-size: 13px;
}
.produce_item 
{
    position: relative;
    width: 200px;
    height: 300px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(51, 43, 43, 0.2);
    border: 2px solid #ffffff00;
    box-sizing: border-box;
}

.produce_item:hover 
{
    border: 2px solid var(--hoverColor);
    transition-delay: 0.2s;
}
.produce_item:hover .id_product 
{
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.296);
    transition-delay: 0.2s;
}
.list_produce 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produce_img>.img_card
{
    object-fit: contain;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 108px;
    width: 108px;
}

.produce_img 
{
    width: 180px;
    height: 130px;
    text-align: center;
}

.produce_info_container 
{
    padding: 10px;
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.produce_info{
    flex: 3;
    position: relative;

}
.produce_name 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.produce_price 
{
    color: var(--logoColor);
    text-align: center;
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.produce_activity 
{
    display: flex;
    flex: 1;
    gap: 9px;
    justify-content: center;
  
}
.button_buy{
    height: 30px;
}
.button_buy button 
{
    background-color: white;
    border: 2px solid var(--logoColor);
    border-radius: 5px;
    color: var(--logoColor);
    padding: 5px;
    cursor: pointer;
}

.button_buy button:hover 
{
    color: white;
    background-color: var(--logoColor);
    transition: 0.1s;
}
.button_save{
    height: 30px;
    background-color: white;
    border: none;
    position: relative;
    width: 37px;
    height: 30px;
}
.button_save i 
{
    font-size: 25px;
    color: var(--clickChange);
    cursor: pointer;
    margin-top: 3px;
    transition: 0.5s ease;


}

.button_save i:hover 
{
    color: var(--logoColor);
}

.heart_item 
{
    height: 21px;
    font-weight: 10;
    text-align: end;
    color: var(--clickChange);
    display: flex;
    justify-content: end;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s ease;
}

.heart_item i 
{
    font-size: 20px;
    color: var(--clickChange);
    transition-delay: 0.4s;
    transition:all 0.4s ease;
}


.produce_item:hover .heart_item i 
{
    color: var(--logoColor);
    animation-name: heartRate;
    animation-delay: 0.4s;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
 
}
@keyframes heartRate {
    0%{
        /* transform: rotate(0deg); */
        top: -3px;
    }
    10%{
        /* transform: rotate(20deg); */
        top: -7px;
    }
    20%{
        /* transform: rotate(0deg); */
        top: -10px;
    }
    30%{
        transform: rotate(-20deg);
        top: -10px;
    }
    32.5%{
        transform: rotate(0deg);
        top: -10px;
    }
    35%{
        transform: rotate(20deg);
        top: -10px;
    }
    37.5%{
        transform: rotate(0deg);
        top: -10px;
    }
    40%{
        transform: rotate(-20deg);
        top: -10px;

    }  
    42.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    45%{
        transform: rotate(20deg);
        top: -10px;

    }  
    47.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    50%{
        transform: rotate(-20deg);
        top: -10px;

    }  
    52.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    55%{
        transform: rotate(20deg);
        top: -10px;

    }  
    57.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    60%{
        transform: rotate(-20deg);
        top: -10px;

    }  
    62.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    65%{
        transform: rotate(20deg);
        top: -10px;

    }  
    67.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    70%{
        transform: rotate(-20deg);
        top: -10px;

    }  
    72.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    75%{
        transform: rotate(20deg);
        top: -10px;

    }  
    77.5%{
        transform: rotate(0deg);
        top: -10px;

    }  
    80%{
        /* transform: rotate(0deg); */
        top: -7px;

    }
    90%{
        /* transform: rotate(20deg); */
        top: -3px;

    }
    100%{
        /* transform: rotate(0deg); */
        top: 0px;
    }
}
.container_video{
    position: relative;
    width: 90%;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
}

.video_block{
    margin: 0 auto;
}


.container_card--detail{
    position: absolute;
    top: 0;
    margin: 10% auto;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.card_detail{
    background-color: rgba(200, 200, 200, 0.329);
    width: 20%;
    box-sizing: border-box;
    padding: 70px  20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: white;
    transition: all 0.6s ease;
    overflow: hidden;
    transition-delay: 0.2s;
}
.card_content{
    flex: 1;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.card_detail:hover{
    background-color:white;
    color: var(--logoColor);
    transform: translateY(-30px);
}

.card_image{
    font-size: 50px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container_card--menu{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 100px;
    gap: 100px;
}

.card_menu{
    background-color: white;
    width: 200px;
    height: 300px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: black;
    box-shadow: 0 1px 2px 0 rgba(60,64,67, 0.1), 0px 2px 6px 2px rgba(60,64, 67, 0.2);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
}
.card_menu:hover{
    transform: translateY(-30px);
    color: white;
    background-color: var(--hoverColor);
}

.card_menu--image{
    font-size: 60px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_menu--content{
    flex: 1;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}