/* @media (max-width: 1000px) 
{
    #nav_menu 
    {
        position: absolute;
        width: 100%;
        height: 1000px;
        top: 100px;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        
    }

    #ul_bannerHead 
    {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 300px;
        padding: 5px;
        justify-content: space-around;
        bottom: unset;
    }
    /*----Modal Menu----*/
 /*   .modal_menu{
        justify-content: unset;
        
    }
    .screen_menu--title{
        font-size: 98%;
    }
    .screen_menu--item{
        padding: 5px;
        font-size: 70%;
    }
    .modal_menu--header{
        font-size: 85%;
    }
    .modal_menu--body{
        font-size: 70%;
    }
    .modal_button--menu{
        position: relative;
        left: unset;
        width: 50%;
        left: 1%;
        display: block;
    }

    .screen_menu{
        position: absolute;
        right: 1%;
        width: 45%;
    }
    /*-----Modal Call--------*/
 /*   .modal_button--call{
        width: 70%;
        position: unset;
        margin: 10px auto;
    }
    .call_item--link{
        font-size: 17px;
    }*/

    /*-----------------------*//*
    .responsive_nav_menu 
    {
        display: block;
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 20px;
    }

    #bannerHead 
    {
        display: block;
        padding: unset;
        height: 100px;
        z-index: 3;
    }

    #div_logo 
    {
        justify-content: space-around;
    }

    #name_logo 
    {
        font-size: 20px;
        width: unset;
        height: unset;
        margin-top: 20px;
    }

    #logo_item 
    {
        position: relative;
        top: 0px;
        width: 50px;
        height: 50px;
    }

    .list-items 
    {
        margin-right: unset;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        font-size: 15px;
        text-align: center;
        background-color: unset;
    }

    .list-items a i 
    {
        font-size: 15px;
        top: unset;
    }

    .modal_search 
    {
        margin-bottom: 50px;
        width: 100%;
        left: unset;
    }

    .input_search_modal 
    {
        width: 100%;
        height: unset;
    }

}
 */


/*-----------Responsive-------------------------------------*/
/*
@media (max-width: 1000px)
{
    #bannerHead
    {
        display: block;
        height: 200%;
        padding-bottom: 10px;
    }
    #div_logo
    {
        justify-content: space-around;
        position: relative;
        
    }
    #name_logo
    {
        font-size: 200%;  
        width: unset;
        height: unset;
        margin-top: 20px;
    }
    #logo_item
    {
        position: relative;
        top: 0px;
        width: 50px;
        height: 50px;
    }
    #nav_menu
    {
        display: unset;
        display: flex;
        height: 50px;
        position: relative;
        top: 5px;
        left: 0;
    }
    
    #ul_bannerHead
    {
        justify-content: space-around;
        right: unset;
        width: 100%;
        padding: 0;
        position: unset;
    }
    .list-items
    {
        margin-right: unset;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 100%;
    }
    .list-items a i
    {
        font-size: 120%;
        top: unset;
    }


    .modal_button_cart
    {
        width: 90%;
    }
}
 */